  <table> 
    <caption><b>Calculator</b></caption>
    <tbody>
    <tr>
      <td>First Number</td>
      <td><input type="number" #firstNumber placeholder="First Number"></td>
    </tr>
    <tr>
      <td>Second Number</td>
      <td><input type="number" #secondNumber placeholder="Second Number"></td>
    </tr>
    <tr>
      <td></td>
      <td class="center-content">
        <button (click)="_add(firstNumber.value,secondNumber.value)">+</button>
        <button (click)="subs(firstNumber.value,secondNumber.value)">-</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="center-content">
        <button (click)="mult(firstNumber.value,secondNumber.value)">*</button>
        <button (click)="div(firstNumber.value,secondNumber.value)">/</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>Result: {{result}}</td>
    </tr>
  </tbody>
  </table>